.title-center{
  text-align:center;
}
.title-center h2{
  font-weight:bold;
  letter-spacing: -1.5px;
  text-transform:uppercase;
  font-size: 2.7em;
  color:black;
}
.card-signup{
  height:400px;
}
.page-actions{
  border-top: 1px  solid #bbc3ce ;
  padding-top: 5px;
}
.page-title{
  font-weight: bold;
  font-size: 1.5em;
}
.page-body{
  border-top: 1px solid #bbc3ce ;
  padding-top: 5px;
  padding-bottom: 15px;
  
}
.article-meta-description{
  border-top: 1px solid #bbc3ce ;
  margin-top: 15px;
}
.message{
  padding-top:20px;
}
.listing{
  list-style: none;
  padding-left: 0;
}